<html>
<head>
	<title>{{ contest.contest_id }}</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<h2> Problem List: </h2>
{% for p in problem_list%}
 <li>
   	<a href = "{% url 'details' p.contest.contest_id p.p_id  %}">{{p.contest}}/{{p.name}}</a>
</li>
{% endfor %}
<h2> Registered Users </h2>
{% for user in user_list%}
 <li>
   	<a href = "{% url 'user_profile' user.username %}">{{user.username}}</a>
</li>
<br>
<h4>Start Time : {{ contest.start_time }}
	<br>
	End Time : {{ contest.end_time }}
	<br>
	Current Time : {{ cur_time }}
	Total Time : {{ tot_time }}
</h4>
{% endfor %}
<br>
</body>
</html>