<!DOCTYPE html>
<html lang="en">
<head>
  <title>Forum</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
  </script>
  <script>
      function openPost(postid){
        console.log(postid)
        location.href = "/judge/posts/" + postid.toString() +"/";
      }
    </script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
    
    
  </style>
 {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="{% static "dist/css/sb.css" %}" rel="stylesheet">
   <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href= "{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href= "{% static 'dist/css/timeline.css' %}"rel="stylesheet">

   

    <!-- Morris Charts CSS -->
    <link href="{% static 'bower_components/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <script>
      function showProblem(contest, problem_name){
        console.log("HERE\n");
        console.log(contest, problem_name);
        location.href = "/judge/problems/" + contest + "/" + problem_name + "/";
      }
      $(document).ready(function(){  
        
        var colors = [
          "#E43434",
          "#37B437",
          "#0080FF",
          "#FF3399",

        ];
        var tags = document.getElementsByClassName("blogTag");
        for (var i = 0; i < tags.length; i++) {
            tags[i].style.backgroundColor = colors[Math.floor(Math.random()*colors.length)];
        }
      });
    </script>
</head>
  <body style = "background-image : url({% static "images/bg3" %}); background-size: cover;">
    <nav class="navbar navbar-default navbar-static-top" style = "backgroud-color:red;" style="margin-bottom: 0">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
          <a class="navbar-brand" href="{% url 'index' %}" style = "font-family: 'Muli', sans-serif;"><i><b> Deltech </b> Online Judge</i></a>
        </div>
       
  
          <div class="navbar-default sidebar" role="navigation">

                  <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                      
                      <li>
                        <a href = "{% url 'add_problem' "Practice" %}" class = ""><i class="fa fa-plus fa-fw"></i> Add Problem</a>
                      </li>
                      <li>
                         <a href = "{% url 'create_contest' %}"><i class="fa fa-pencil fa-fw"></i> Create your own contest</a>
                      </li>
                      <li>
                        <a href = "{% url 'userlist' %}"  ><i class="fa fa-users fa-fw"></i> All Users
                        </a> 
                      </li>
                      <li >
                        <a data-toggle = "collapse" data-target="#demo"><i class="fa fa-users fa-fw"></i> Top Users <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse" id = "demo">
                          {% for u in users %}
                          <li>
                            <a href = "{% url 'user_profile' u.username %}">{{u.first_name}}</a>
                          </li>
                          {% endfor %}
                        </ul>
                      </li>
                      <li>
                        <a href = "{% url 'AllContests' %}"><i class="fa fa-list fa-fw"></i> All Contests </a>
                      </li>
                    </ul>
                  </div>
              </div>
          
          <ul class="nav navbar-top-links navbar-right">
            <li class = "dropdown" style = "margin-top:12px;">
                    <ul>
                      <li><a href="{% url 'showforum' %}"><i class="fa fa-comments-o fa-fw"></i> Discuss</a>
                        </li>
                        <li><a href="{% url 'user_profile' user.username %}"><i class="fa fa-user fa-fw"></i>{{user.first_name}} {{user.last_name}}</a>
                        </li>       
                        <li class="divider"></li>
                        <li><a href="{% url 'logout'%}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
          
      </nav>

          <div id = "page-wrapper">
 
<div class="container-fluid" style = "margin:1%;margin-top:3%;width:100%;">
       
       <div class = "row">
        <div class = "col-sm-3">
          <h2><small>All Posts</small></h2>
        </div>
        <div class = "col-sm-9">
          <a href = "#newThread" style = "color:#111111; text-decoration:none;">
            <button class ="btn btn-default" style = "float:right; border-radius:50px;">
            <i class="fa fa-plus fa-fw"></i> 
            New Thread  
         </a>
        </div>
      </div>
      <p>
   
      <hr>
      {% for t in tags %}
      <h1><small><a href = "{% url 'showpost' t.blogpost.id %}" style="text-decoration:none;"> {{ t.blogpost.heading }}</a> </small></h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by <b> <a style="color:#dd2234;text-decoration:none;" href="{% url 'user_profile' t.blogpost.addedby.username %}">{{ t.blogpost.addedby }}</a>, {{ t.blogpost.timestamp }}.</b></h5>
      <h5>
      {% for tag in t.tags %}
      <span class="label label-success blogTag">{{tag.tag}}</span>
      {% endfor %}
      </h5>

      <p> {{ t.blogpost.description }}</p>
      <button class = "btn btn-primary" style= "float:right" onclick = "openPost({{ t.blogpost.id }})" >Reply</button>
      <br>
      <hr>

      {% endfor %}
      <h4>Open a new thread:</h4>
      
      
      <form role="form" method = "post" action="{% url 'showforum' %}">
          {% csrf_token %}
        <div id = "newThread"class="form-group">
            <label for="usr">Heading:</label>
            <input  name = "heading" type="text" class="form-control" id="usr">
        </div>
          
        <div class="form-group">
           <label for="tags">Tags:</label>
          <textarea id = "tags" name = "tags" class="form-control" rows="1"></textarea>
          <br>
          <label for="txtu">Description:</label>
          <textarea id = "txtu" name = "content" class="form-control" rows="10" required></textarea>
          
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      <br><br>
    
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>
</div>
</body>
</html>