<html>
<head>
	  <title>Bootstrap Example</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<body>
	    <br>
	    Hello {{user.username}}
	    <br>
	    <a href = "{% url 'add_problem' "Practice" %}">Add Problem</a>
	    <br>
	    <br>
	    <a href = "{% url 'create_contest' %}">Create your own contest</a>
	    <br>
	    <br>
	    <a href = "{% url 'userlist' %}"> All Users </a>
	    <br>
	    <a href = "{% url 'AllContests' %}"> All Contests </a>
	    <br>
	    <strong> Problem Set </strong>
	    <br>
		<ul>
		{% for p in problem %}  
		   <li>
		   	<a href = "{% url 'details' p.contest.contest_id p.p_id  %}">{{p.contest}}/{{p.name}}</a>
		   </li>
		{% endfor %}
	    </ul>

   </body>
</head>
</html>