<html>
<head>
	{% load staticfiles %}

	  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Social Buttons CSS -->
    <link href="../bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <body >
		<div class = "panel panel-danger" style = "background-image : url({% static "bg" %}); background-repeat: no-repeat; background-size: 100% 100%;">
			<div class = "panel-heading">
				<h3> Deltech Online Judge </h3>
				<div>
					<form action = "{% url 'index' %}" method = "post" class = "form-inline">

						{% csrf_token %}
						Username : <input type = "text" name = "username" class = "form-control">
						Password : <input type = "text" name = "password" class = "form-control">
						<input type = "submit" class = "btn btn-success">

					</form> 
				</div>
						
			</div>
			<div class = "panel-body" style = "margin-top:20px;">
				<div class = "row" >
					
			
				<div class = "col-sm-4">
				</div>
				<div class = "col-sm-5">
					<div class = "panel panel-info">
						<div class = "panel-heading">
							<strong>Or Sign Up</strong>
						</div>
						<div class  = "panel-body">

							<form action = "{% url 'sign_up' %}" method = "post" role = "form">

							    {% csrf_token %}
							    First Name: <br>
							    <input type = "text" name = "first_name" class = "form-control">
							    <br>
							    Last Name: <br>
							    <input type = "text" name = "last_name" class = "form-control">
							    <b5>
							    Email ID : <br>
							    <input type = "text" name = "email_id" class = "form-control">
							    <br>
							    Username: <br>
							    <input type = "text" name = "username" class = "form-control">
							    <br>
							    Password: <br>
							    <input type = "text" name = "password" class = "form-control">
							    <br>
							    <input type = "submit" value = "Sign Up !" class = "btn btn-info">

							</form>
						</div>

					</div>
					
				</div>
			</div>
		</div>
		<div class = "panel-footer">
			All rights reserved
		</div>
	</body>
	<!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
</head>
</html>