<html>
  <head>
  	  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <body>
        {% if sol_obj == None %}
            <strong> You have not submitted a solution yet.</strong>
        {% else %}
            {{sol_obj.code|linebreaksbr }}
        {% endif %}
        
     </body>
  </head>
</html>