<html>
<head>
	{% load staticfiles %}
	  <title>{{user.first_name}}</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	  <link href="{% static "dist/css/sb.css" %}" rel="stylesheet">
		<!-- Bootstrap Core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href= "{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href= "{% static 'dist/css/timeline.css' %}"rel="stylesheet">

   

    <!-- Morris Charts CSS -->
    <link href="{% static 'bower_components/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <script>
    	function showProblem(contest, problem_name){
    		console.log("HERE\n");
    		console.log(contest, problem_name);
    		location.href = "/judge/problems/" + contest + "/" + problem_name + "/";
    	}
    	$(document).ready(function(){
    		

	    	var data = [
			    {
			        value: {{user.AC_Count}},
			        color:"#37B437",
			        highlight: "#5FFA5E",
			        label: "Accepted"
			    },
			    {
			        value: {{user.WA_Count}},
			        color: "#FD4440",
			        highlight: "#FF4840",
			        label: "Wrong Answer"
			    },
			    {
			        value: {{user.RE_Count}},
			        color: "#A0542D",
			        highlight: "#B06840",
			        label: "RunTime Error"
			    }, 
			    {
			        value: {{user.CE_Count}},
			        color: "#5DB4BC",
			        highlight: "#5FC8B0",
			        label: "Compilation Error"
			    }, 
			    {
			        value: {{user.TLE_Count}},
			        color: "#FDB400",
			        highlight: "#FFC800",
			        label: "Time Limit Exceeded"
			    }

			]
			var options = {
			  legendTemplate : '<ul>'
			                  +'<% for (var i=0; i<datasets.length; i++) { %>'
			                    +'<li>'
			                    +'<span style=\"background-color:<%=datasets[i].lineColor%>\"></span>'
			                    +'<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>'
			                  +'</li>'
			                +'<% } %>'
			              +'</ul>'
			  }

	    	var ctx = document.getElementById("userchart").getContext("2d");
			var myDoughnutChart = new Chart(ctx).Doughnut(data);
			document.getElementById('userChartLegend').innerHTML = myDoughnutChart.generateLegend();
		});
    </script>
</head>
	<body style = "background-image : url({% static "images/bg3" %}); background-size: cover;">
		<nav class="navbar navbar-default navbar-static-top" style = "backgroud-color:red;" style="margin-bottom: 0">
		  
		    <div class="navbar-header">
		    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
		      <a class="navbar-brand" href="{% url 'index' %}"><i><b> Deltech </b> Online Judge</i></a>
		    </div>
	     
	
		     	<div class="navbar-default sidebar" role="navigation">

	                <div class="sidebar-nav navbar-collapse">
	                	<ul class="nav" id="side-menu">
	                		
	                		<li>
	                			<a href = "{% url 'add_problem' "Practice" %}" class = ""><i class="fa fa-plus fa-fw"></i> Add Problem</a>
	                		</li>
	                		<li>
	                			 <a href = "{% url 'create_contest' %}"><i class="fa fa-pencil fa-fw"></i> Create your own contest</a>
	                		</li>
	                		<li>
	                			<a href = "{% url 'userlist' %}" ><i class="fa fa-users fa-fw"></i> All Users <span class="fa arrow"></span></a>
	                			<ul class="nav nav-second-level">
	                				{% for u in users %}
	                				<li>
	                					<a href = "{% url 'user_profile' u.username %}">{{u.first_name}}</a>
	                				</li>
	                				{%endfor %}
	                			</ul>
	                		</li>
	                		<li>
	                			<a href = "{% url 'AllContests' %}"><i class="fa fa-list fa-fw"></i> All Contests </a>
	                		</li>
	                	</ul>
	                </div>
	            </div>
        	
        	<ul class="nav navbar-top-links navbar-right">
        		<li class = "dropdown" style = "margin-top:12px;">
                    <ul>
                    	<li><a href="{% url 'showforum' %}"><i class="fa fa-comments-o fa-fw"></i> Discuss</a>
                        </li>
                        <li><a href="{% url 'user_profile' cuser.username %}"><i class="fa fa-user fa-fw"></i>{{cuser.first_name}} {{cuser.last_name}}</a>
                        </li>       
                        <li class="divider"></li>
                        <li><a href="{% url 'logout'%}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
          
	    </nav>
		<div id = "page-wrapper">
			<div class = "panel panel-primary">
				<div class = "panel-body">
					<div class = "row">
						<div class = "col-sm-3">
							<img src = "{% static 'images/no-user-image.gif'%}" style = "border: 1px solid #3939df;"></img>
							<h1>#{{user.username}}</h1>
							<h2>{{user.first_name}} {{user.last_name}}</h2>
							<h2>{{user.contrib_pts}}</h2>
						</div>
						<div class = "col-sm-3" align = "center">
							<h3>
								Problems Solved:
								<br>
								{{solved}}
								<br><br>
								Problems Tried:
								<br>
								{{tried}}
								<br><br>
								Problmes Added:
								<br>
								{{added}}	
							</h3>					

						</div>
						<div class = "col-sm-5">
							<canvas id="userchart" width="400" height="400" style = "float:right;"></canvas>
						</div>
						
					</div>
				</div>
			</div>
			<div class = "well well-lg">
				<div class = "row">
					<div class = "col-sm-6">
						<div class = "panel panel-green" style = "border: 1px solid #4fd94f">
							<div class = "panel-heading" data-toggle = "collapse" data-target = "#SList">
								<h2>Problems Solved
							    <button type="button" class="btn btn-danger btn-circle btn-lg" style = "background-color: #5cb85c; float:right; border-color: #4ca84c"><i class="fa fa-check"></i>
                           		 </button>
                           		</h2>
							</div>
							<div class = "panel-body collapse" id = "SList">
								{%  for sol in tryList %}
								{% if sol.solved == True %}
								<a href = "{% url 'details' sol.problem.contest.contest_id sol.problem.p_id %}">{{sol.problem.p_id}}</a>
								<a href = "{% url 'print_solution' sol.id %}" style = "float:right;">  (Code)  </a>
								<br>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					<div class = "col-sm-6">
						<div class = "panel panel-red" style = "border: 1px solid #d94f4f">
							<div class = "panel-heading" data-toggle = "collapse" data-target = "#TList">
								<h2>Todo List
									<button type="button" class="btn btn-danger btn-circle btn-lg" style = "float:right;"><i class="fa fa-heart"></i>
		                            </button>
		                        </h2>
							</div>
							<div class = "panel-body collapse" id = "TList">
								{%  for sol in tryList %}
								{% if sol.solved == False %}
								<a href = "{% url 'details' 'Practice' sol.problem.p_id %}">{{sol.problem.p_id}}</a>
								<a href = "{% url 'print_solution' sol.id %}" style = "float:right;">  (Code)  </a>
								<br>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class = "row">
					<div class = "col-sm-12">
						<div class = "panel panel-yellow" align = "center" style = "border: 1px solid #d9d94f">
							<div class = "panel-heading" data-toggle = "collapse" data-target = "#AList">
								<h2>Problems Added
									<button type="button" class="btn btn-danger btn-circle btn-lg" style = "background-color: #f0ad4e; float:right; border-color: #e09d3e"><i class="fa fa-plus"></i>
		                            </button>
								</h2>
							</div>
							<div class = "panel-body collapse" id = "AList">
								{%  for prob in addList %}
								<a href = "{% url 'details' 'Practice' prob.p_id %}">{{prob.p_id}}</a>
								<br>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
